{% extends "CodeCatsFrontBundle::layout.html.twig" %}
{% block body %}
Hello see you soon!
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star"></span> Star
    </button>
{#
    <img src="{{ asset('bundles/codecatsfront/images/python-bg.png') }}">#}
{% endblock %}