{% extends "CodeCatsFrontBundle::layout.html.twig" %}
{% block title %}{{ 'Użytkownik' | trans }}{% endblock %}
{% block content %}
    <section class="bg1">

    </section>
    <section class="fixed-bg-pure">
    </section>
    <section class="bg2">

    </section>
    <section class="fixed-bg-pure">
    </section>
    <section class="bg3">

    </section>
    <section class="fixed-bg-pure">
    </section>
{% endblock %}
