{% extends "::base.html.twig" %}

{% block title %}CodeCatsPanelBundle:Progress:get{% endblock %}

{% block body %}
<h1>Welcome to the Progress:get page</h1>
    <form>
    {{ form_widget(form) }}
    </form>
{% endblock %}
