{% extends 'CodeCatsPanelBundle::layout.html.twig' %}

{% block body %}
    {% block item %}
        <section id="user" style="display:none">
            {{ user }}
        </section>
    {% endblock %}
{% endblock %}

{% block app %}
   {% for script in scripts %}
        <script type="text/javascript" 
            src="{{ asset('bundles/codecatspanel' ~ script) }}">
        </script>
   {% endfor %}
    <script type="text/javascript"
            src="{{ asset('bundles/codecatspanel/js/panel/main.js') }}">
    </script>
{% endblock %}
