{% extends 'CodeCatsPanelBundle::layout.html.twig' %}
{% block body %}
Hello Ext started {{ name }}!
{% block item %}
    <section>aaa</section>
{% endblock %}

{% endblock %}


{% block app %}
<script type="text/javascript" 
        src="{{ asset('bundles/codecatspanel/js/panel/main.js') }}">
    </script>
{% endblock %}
