{% extends "::base.html.twig" %}

{% block title %}CodeCatsPanelBundle:Test:test{% endblock %}

{% block body %}
<h1>Welcome to the Test:test page</h1>
    {{ form(form) }}

<hr>
valid:{{ valid }}
{% endblock %}
